<div class="app-content">
  <!-- {{this.varienceReportData$ | async | json}} -->
  <ng-template #loading_content>
    <md-card>
      <md-card-title>
        Data is loading in progress...
      </md-card-title>
      <md-card-content>
        <md-progress-bar mode="indeterminate"></md-progress-bar>
      </md-card-content>
    </md-card>
  </ng-template>
  <div *ngIf="varienceReportData$ | async as dataSet; else loading_content">
    <!-- {{dataSet | json}} -->

    <!-- {{dataSet.categoryResultList | json}} -->
    <!-- {{dataSet.categoryResultList[0].data | json}} -->
    <!-- {{dataSet.categoryResultList[0].entityId | json}} -->
    <!-- {{dataSet.categoryResultList[0]| json}} -->
    <!-- {{dataSet.categoryResultList[0].data[0].actualMTD | json}} -->
    <!-- {{testData | json}} -->
    <!-- {{testResultData | json}} -->

    <ngx-datatable class="material" [rows]="testResultData" [loadingIndicator]="isLoading" [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="true">
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Building ID
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.entityId}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Account Category
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.category}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Account Number
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.acctNum}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Acctual MTD
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.actualMTD | currency:'USD':'1.1-3'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Budget MTD
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.budgetMTD | currency:'USD':'1.1-3'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Variance$
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.varianceDifference | currency:'USD':'1.1-3'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Variance%
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.variancePrecentage | number:'1.1-2'}}%
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Comments
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.comments}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Actions
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button md-icon-button (click)="onViewClickAction('VIEW',row)">
                <i class="fa fa-ban">view</i>
            </button>
          <button md-icon-button (click)="onEditClickAction('DELETE',row)">
                <i class="fa fa-check">edit</i>
            </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <br />
    <ngx-datatable class="material" [rows]="testData" [loadingIndicator]="isLoading" [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="true">
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Building ID
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.entityId}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Account Category
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.category}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Total Acctual MTD
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.totalActualMTD | currency:'USD':'1.1-3'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Total Budget MTD
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.totalBudgetMTD | currency:'USD':'1.1-3'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Total Variance$
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.totalVarienceDifference | currency:'USD':'1.1-3'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Total Variance%
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.totalVariencePercentage | number:'1.1-2'}}%
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        Comments
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.comments}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        Actions
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button md-icon-button (click)="onViewClickAction(row)" [disabled]="row['status']==='BLOCKED'">
              <i class="fa fa-ban">view</i>
          </button>
        <button md-icon-button (click)="onEditClickAction(row)" [disabled]="row['status']==='APPROVED'">
              <i class="fa fa-check">edit</i>
          </button>
      </ng-template>
    </ngx-datatable-column> -->
    </ngx-datatable>
  </div>
</div>
